<%- include("./partials/header.ejs") %>

<div style="margin: 25px 10px">
    <h4>How does this work?</h4>
    <div class="alert alert-info" style="display:inline-block">First you have to create an account by signing up. You have to provide name, email and password</div>
    <div class="alert alert-info" style="display:inline-block">Once you have signed up you will be redirected to birthdays page. Initially it will be empty and you will find a button to add a birthday</div>
    <div class="alert alert-info" style="display:inline-block">After clicking on the button you will be taken to a page where you have to add you friend's name and his birthdate</div>
    <div class="alert alert-info" style="display:inline-block">That's it!!! Now you will get an email (to the same one you have used to signup) one day before your friend's birthday to remind you</div>
</div>