<%- include("./partials/header.ejs") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to Birthday notifier </h1>
            <p> You will be sent an email to remind you of your friend's birthday </p>
        </div>
    </header>
</div>

<div style="position: fixed;bottom: 0" > Click <a href="https://drive.google.com/file/d/11JijPocqx7_Hd6Wah-REIGWYn4UuvH-Z/view?usp=sharing">here</a> to play demo video </div>