<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1> This is home page</h1>
    <a href="/users">Signup</a>
    <br>
    <a href="/users/login">Login</a>
    <br>
    <a href="/birthdays">All Birthdays</a>
    <br>
</body>
</html>