<%- include("./partials/header.ejs") %>

<body>
    <header>
        <h1>Login</h1>
    </header>

    <form action="/login" method="POST">
        <label>Email ID</label>
        <input type="email" name="email" placeholder="abc@example.com">
        <br><br>

        <label>Password</label>
        <input type="password" name="password">
        <br><br>

        <button type="submit">Submit</button>
    </form>

</body>

<%- include("./partials/footer.ejs") %>