<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add birthday</title>
</head>

<body>
    <header>
        <h1>Add birthday of a friend</h1>
    </header>

    <form action="/birthdays" method="POST">
        <label>Name</label>
        <input type="text" name="name" placeholder="Sachin">
        <br><br>

        <label>Date</label>
        <input type="date" name="date" placeholder="01/01/1997">
        <br><br>

        <button type="submit">Submit</button>
    </form>

</body>

</html>