<%- include("./partials/header.ejs") %>

<div class="container">
        <h1 style="text-align: center;">Add birthday of a friend</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/birthdays" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="date" placeholder="01/01/1997">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-dark type="submit">Submit</button>
                </div>
            </form>
        </div>
</div>