<h1>One Birthday</h1>

<div>
    <h2>
        <%= birthday.name%>
    </h2>
    <h2>
        <%= birthday.date%>
    </h2>
</div>

<br>

<div>
    <a href="/birthdays/<%= birthday._id%>/edit">Edit</a>
</div>

<br>

<div>
    <form action="/birthdays/<%= birthday._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</div>